body {
    font-family: 'Montserrat', sans-serif;
    
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0%;
}

hr {
    display: block;
    width: 100px;
    height: 3px;
    margin: 10px auto;

    border: 0;
    background-color: #821d1d;

}


/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    padding: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    color:  rgba(255, 238, 0, 0.833);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav */

.nav {
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color:  rgba(255, 238, 0, 0.833);
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color:  #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:hover::after {
    opacity: 1;}


/* intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../rsschool-cv/bg_intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    text-align: left;
    color:  rgba(255, 238, 0, 0.833);
    margin: 0 auto;
    text-align: center;

}

.intro__title {
    width: 100%;
    max-width: 750px;

    font-size: 90px;
    font-weight: 500;
    font-family: 'Kaushan Script', cursive;

    text-align: left;
    line-height: 1.3;
}

.intro__suptitle {
    font-family: 'Kaushan Script', cursive;

    font-size: 50px;
    font-weight: 200;
    text-align: right;

}

/* button */


.button {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.btn {
    
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    

    border: 3px solid rgba(255, 238, 0, 0.833);

    color: rgba(255, 238, 0, 0.833);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* section */

.section {
    padding: 25px 0;
    background-color: rgb(214, 170, 12);
    font-style: italic;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
}

.text {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

/*footer*/

.footer {
    width: 100%;
    padding: 5px auto;
    font-size: 30px;
    font-style: italic;
    background-color: rgb(49, 47, 47);
    color:  rgba(255, 238, 0, 0.833);
}

.text__footer {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

